recursive-include src *.bash *.inc changelog.in control.in get-pip.py main.c md5sums.in Microsoft.VC90.CRT.manifest-x64 Microsoft.VC90.CRT.manifest-x86 msvcp100.dll msvcr100.dll pkginfo.in postinst.in postinstall.in preinst.in preinstall.in preremove.in prerm.in rcedit.exe rpmspec.in rules.in setup.py.example signtool.exe silent_launcher-x64.exe silent_launcher-x86.exe template.wxs Microsoft_VC141_CRT_x64.msm
