recursive-include src changelog.in control.in ez_setup.txt main.c md5sums.in postinst.in prerm.in rpmspec.in rules.in SConstruct setup.py.example signtool.exe silent_launcher-x64.exe silent_launcher-x86.exe template.wxs
