recursive-include src get-pip.py
recursive-include src bff.spec rpm.spec
recursive-include src checkinstall pkginfo prototype space
recursive-include src postinstall postremove preinstall preremove
recursive-include src changelog control postinst postrm preinst prerm rules
recursive-include src template.wxs Microsoft_VC141_CRT_x64.msm
recursive-include src *.dll *.exe *.inc
